
<script>
var patharray=window.location.pathname.split("/");
pfGroup=patharray[2];
//alert(location.search);
//$('#portfolioType').html(pfGroup + ' Portfolio List');
window.onload = function (){
  document.getElementById("portfolioType").innerHTML= pfGroup + ' Portfolio';
}

</script>

<h3 id="portfolioType">Portfolio</h3>

<form method="post">
     Portfolio Name: <br />
     <input type="text" name="pfName" placeholder="Enter Portfolio Name" /> <br />
     stock symbol：</br>
     <textarea name="symbol" rows="10" cols="100" placeholder="Enter Stock Symbol"></textarea><br />
     <input type="submit" value="存檔" />
</form>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
