
<script>
var patharray=window.location.pathname.split("/");
pfGroup=patharray[2];
//alert(pfGroup);
//$('#portfolioType').html(pfGroup + ' Portfolio List');
window.onload = function (){
  var element=document.querySelector("#importPortfolio");
      element.innerHTML=pfGroup + ' Group ' +  element.innerHTML
}
</script>

<h3 id="importPortfolio">Import CSV file</h3> 

<form method="post" enctype="multipart/form-data" >
     <input type="file" name="upload" /><br><br>
     <input type="submit" value="submit" />
</form>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
